@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
  background: linear-gradient(to bottom,  rgb(24, 18, 35),  rgb(23, 19, 31));
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}
#logo{
  margin-right: 30px;
}
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgb(237, 237, 246), rgb(172, 170, 175));
  border-radius: 15px;
  align-items: center;
}
h1 {
  margin: 30px;
  font-size: 5ch;
  background: linear-gradient(90deg, #5fcaff, #847bfe,#9c0dcb,#ea0bba,#cb0d0d,#e66509,#cbb20d,#26cb0d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
h2{
  text-align: center;
  color: #f8f9fa;
  text-decoration: underline;
}
p {
  font-size: 12px;
}
form {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form {
  width: 75%;
  height: 75%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
#condiciones{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: flex-end;
  align-self: center;
  text-align: right;
  font-size: 10px;

}
.pregunta {
  background-color: #f8f9fa;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-self: center;
  width: 90%;
}
#formulario{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
}


form select {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
}

form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  width: 80%;
  align-self: center;
}
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.recordatorio {
  color: red;
  font-family: "Verdana";
  font-size: 90%;
  padding-bottom: 3%;
  width: 95%;
  text-align: right;
}
.boxDerecho{
  align-items: end;
  width: 100%;
}
.boxIzquierdo{
  width: 100%;
}
#eleccion{
  display:inline-flex;
}
.type {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;

}
#direccion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.file {
  background-color: #f8f9fa;
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-self: center;
  width: 90%;
  text-align: center;
}

