<header>
  <div id="header">
    <h1>De Jovenes</h1>
    <img id="logo" src="img/logo-ayuntamiento-sup.png" alt="es una imagen del ayuntamiento de leganes">
  </div>
</header>

<h2>Unete al club</h2>

<form id="form" [formGroup]="jovenesForm" (ngSubmit)="onsubmit()">
  <div id="formulario">
    <div class="boxIzquierdo">
      <div class="pregunta">
        <label>Nombre: </label>
        <input id="nombre" formControlName="name" type="text"/>
        @if (jovenesForm.get("name")?.touched && jovenesForm.get("name")?.invalid) {
          <p class="recordatorio">El nombre tiene que tener entre 2 y 200 caracteres</p>
        }
      </div>
      <div class="pregunta">
        <label>Apellidos:</label>
        <input id="apellido" formControlName="apellidos" type="text"/>
        @if (jovenesForm.get("apellidos")?.touched && jovenesForm.get("apellidos")?.invalid) {
          <p class="recordatorio">El apellido tiene que tener entre 2 y 200 caracteres</p>
        }
      </div>
    </div>

    <div class="boxDerecho">
      <div class="pregunta">
        <label>DNI:</label>
        <input id="dni" formControlName="dni" type="text" placeholder="12345678A">
        @if (jovenesForm.get("dni")?.touched && jovenesForm.get("dni")?.invalid) {
          <p class="recordatorio" id="dniError">DNI incorrecto (formato:  12345678A)</p>
        }
      </div>
      <div class="pregunta">
        <label>Fecha de nacimiento:</label>
        <input id="fecha" formControlName="fecha" type="text" placeholder="DD/MM/YYYY"/>
        @if (jovenesForm.get("fecha")?.touched && jovenesForm.get("fecha")?.invalid) {
          @if (jovenesForm.get("fecha")?.errors?.['pattern']) {
            <p class="recordatorio" id="fechaError">La fecha debe tener este formato DD/MM/YYYY</p>
          }
          @if (jovenesForm.get("fecha")?.errors?.['validateFecha']) {
            <p class="recordatorio" id="fechaError">Debes tener al menos 14 años para registrarte</p>
          }
        }
      </div>
    </div>
  </div>

  <div class="pregunta">
    <div id="eleccion">
      <label>Sexo:</label>
      <div class="type">
        <label>Hombre
          <input id="hombre" formControlName="sexo" type="radio" name="sexo" value="hombre">
        </label>
      </div>
      <div class="type">
        <label>Mujer
          <input id="mujer" formControlName="sexo" type="radio" name="sexo" value="mujer">
        </label>
      </div>
      <div class="type">
        <label>No binario
          <input id="noBin" formControlName="sexo" type="radio" name="sexo" value="noBin">
        </label>
      </div>
    </div>
    @if (jovenesForm.get("sexo")?.touched && jovenesForm.get("sexo")?.invalid) {
      <p class="recordatorio">Debe seleccionar una opción</p>
    }
  </div>

  <div id="direccion">
    <div class="boxIzquierdo">
      <div class="pregunta">
        <label>CP:</label>
        <input id="cp" formControlName="cp" type="text" placeholder="28001"/>
        @if (jovenesForm. get("cp")?.touched && jovenesForm.get("cp")?.invalid) {
          <p class="recordatorio">El código postal debe tener 5 dígitos</p>
        }
      </div>
    </div>
    <div class="boxDerecho">
      <div class="pregunta">
        <label>Provincia:</label>
        <input readonly id="provincia" formControlName="provincia" type="text">
        @if (jovenesForm.get("provincia")?.touched && jovenesForm.get("provincia")?.invalid) {
          <p class="recordatorio">Introduce un código postal válido</p>
        }
      </div>
    </div>
  </div>

  <div class="pregunta">
    <label>Gustos (mantén Ctrl/Cmd para seleccionar varios):</label>
    <select name="gustos" formControlName="gustos" id="intereses" multiple>
      <option value="musica">Música</option>
      <option value="cine">Cine</option>
      <option value="lectura">Lectura</option>
      <option value="viajes">Viajes</option>
      <option value="tecnologia">Tecnología</option>
      <option value="deporte">Deporte</option>
    </select>
    @if (jovenesForm. get("gustos")?.touched && jovenesForm.get("gustos")?.invalid) {
      <p class="recordatorio">Debe seleccionar al menos un gusto</p>
    }
  </div>

  <div class="pregunta">
    <label>Situación laboral Actual:</label>
    <select name="estado" formControlName="estado" id="estado">
      <option value="">Seleccione una opción</option>
      <option value="trabajando">Trabajando</option>
      <option value="desempleado">Desempleado</option>
      <option value="busquedaActiva">Búsqueda Activa</option>
      <option value="estudiante">Estudiante</option>
    </select>
    @if (jovenesForm. get("estado")?.touched && jovenesForm.get("estado")?.invalid) {
      <p class="recordatorio">Debe seleccionar una situación laboral</p>
    }
  </div>

  <div class="file">
    <label>Foto del DNI:
      <input type="file" formControlName="dni_foto" id="file" (change)="onFileChange($event)">
    </label>
    @if (jovenesForm.get("dni_foto")?.touched && jovenesForm.get("dni_foto")?.invalid) {
      <p class="recordatorio" id="fileError">El archivo debe ser una imagen (jpg, png, gif, etc.)</p>
    }
  </div>

  <div id="condiciones">
    <label>Acepto términos y condiciones</label>
    <input type="checkbox" formControlName="terminos" id="confirmacion">
    @if (jovenesForm. get("terminos")?.touched && jovenesForm.get("terminos")?.invalid) {
      <p class="recordatorio">Debe aceptar los términos y condiciones</p>
    }
  </div>

  <div class="pregunta">
    <button id="submit" type="submit" [disabled]="formSubmitted && jovenesForm.invalid">
      Enviar
    </button>
  </div>
</form>

<router-outlet />
